/***** PAGE *****/

html,
body {
	color: #333;
	text-align: center;	
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: rubik, sans-serif;
	height: 100%;
	overflow: hidden;
}

* {
	user-select: none;
}

/***** LAYOUT *****/

#container {
	display: flex;
	height: 100%;
	flex-direction: column;
}

#header {
	font-size: 28px;
	height: 70px;
	min-height: 70px;
	border: 0 solid transparent;
	border-width: 2px 50px;
	display: none;
}

#content {
	display: flex;
	flex-grow: 2;
	overflow: hidden;
	align-self: stretch;
}

#answers {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

#clues {
	width: 50%;
	overflow: hidden;
	text-align: left;
}

#clues_container {
	text-align: left;
	display: inline-block;
	position: relative;
	transform-origin: top left;
	padding: 0;
}

/***** EMOJI *****/

#i,
#cog,
#category_preview,
.card,
.mini_card,
.background_emoji {
	font-family: "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", emojisymbols, "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
}

/***** COVER *****/

#cover {
	position: absolute;
	cursor: not-allowed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 10000;
	background: #fff;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
	overflow: hidden;
}

/***** ABOUT *****/

#i {
	position: absolute;
	top: 14px;
	right: 2px;
	height: 70px;
	padding: 0;
	font-size: 30px;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	opacity: 0.9;
	z-index: 1000;
}

#i:hover {
	opacity: 1;
}

#about {
	position: absolute;
	transform-origin: top left;
	margin: auto;
	height: auto;
	width: 400px;
	background: #fdb;
	display: none;
	border: 5px solid black;
	border-radius: 10px;
	font-size: 20px;
	cursor: default;
	padding: 15px 10px 20px;
	box-shadow: 0 0 20px 20px white;
}

#about h1 {
	font-size: 32px;
	margin: 5px 0 0;
	padding: 0;
}

#about p {
	margin: 10px 0 0;
	padding: 0;
	font-size: 20px;
}

#about em {
	color: #333;
}

#extraAbout {
	padding-top: 15px !important;
	display: none;
}

#cancelAbout {
	margin-top: 15px;
}

/***** OPTIONS *****/

#cog {
	position: absolute;
	top: 14px;
	left: 1px;
	padding: 0;
	font-size: 30px;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	opacity: 0.9;
}

#cog:hover {
	opacity: 1;
}

#options {
	position: absolute;
	transform-origin: top left;
	margin: auto;
	height: auto;
	width: 400px;
	background: #fdb;
	display: none;
	border: 5px solid black;
	border-radius: 10px;
	font-size: 20px;
	cursor: default;
}

#options table {
	width: 100%;
}

#options td {
	padding: 10px;
}

#options h1 {
	font-size: 32px;
	margin: 15px 0 0;
	padding: 0;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

select {
	border: 0;
	font-size: 20px;
	font-family: rubik, sans-serif;
}

#category_preview {
	font-size: 2em;
}

/***** TABLES *****/

table, td, tr {
	padding: 0;
	margin: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: separate;
}

/***** HEADER *****/

#help {	
	color: #fff;
	padding: 0 2px;
	margin: auto;
	text-overflow: ellipsis;
}

/***** CONTENTS *****/

#card_container {
	display: inline-block;
}

.guess_container {
	margin: 6px 0;
	padding: 3px;
	white-space: pre;
}

.guess_container.active {
	padding-top: 0;
}

#answers_container {
	padding: 15px;
	white-space: nowrap;
}

/***** BUTTONS *****/

.button {
	display: inline-block;
	border-radius: 10px;
	background: #000;
	color: #fff;
	padding: 10px 20px;
	font-size: 50px;
	box-shadow: 5px 5px 0 0 rgb(128, 128, 128);
	cursor: pointer;
	z-index: -10000;
}

.button:hover {
	color: #f90;
}

.mini_button {
	margin: 8px 0 2px 0;
	display: inline-block;
	border-radius: 5px;
	background: #000;
	color: #fff;
	padding: 5px 10px;	
	font-size: 20px;
	box-shadow: 5px 5px 0 0 rgb(128, 128, 128);
	cursor: pointer;
	z-index: -10000;
}

.mini_button:active {
	margin: 10px 0 0;
}

.mini_button:hover {
	color: #f90;
}

#restart {
	clear: both;
}

#different_targets {
	display: none;
}

/***** CARDS *****/

.card {
	margin: 8px;
	font-size: 70px;
	width: 125px;
	padding: 20px 0;
	background: white;
	border: 4px solid #000;
	border-radius: 10px;
	display: inline-block;
	box-shadow: 3px 3px 0 0 rgb(50, 50, 50, 0.5);
	text-align: center;
	transform: scale(2);
}

.selecting_target:hover {
	border: 4px solid #080;
}

.selecting_remove:hover {
	border: 4px solid #f30;
	opacity: 0.5;
}

.disabled {
	opacity: 0.25;
	border: 4px solid #bbb !important;
	box-shadow: none;
	cursor: not-allowed;
}

.error {
	background: red;
	cursor: not-allowed;
}

.mini_card {
	margin: 4px 3px;
	font-size: 45px;
	width: 62px;
	padding: 8px;
	background: #bbb;
	border: 3px solid #777;
	border-radius: 5px;
	display: inline-block;	
	cursor: not-allowed;
	text-align: center;	
}

.current,
.selected {
	border: 3px solid #000;
}

.minicard span {
	opacity: 0.666;
}

.current:hover {
	border: 3px solid #080;
}

.selected {
	background: #fff;
	opacity: 1;
	box-shadow: 2px 2px 0 0 rgb(50, 50, 50, 0.5);
	border: 3px solid #080;
}

.current span,
.selected span {
	opacity: 1;
}

.selected_answer {
	background: #080;
}

.current {
	cursor: pointer;
	background: #fff;
	opacity: 1;
	box-shadow: 2px 2px 0 0 rgb(50, 50, 50, 0.5);
}

/***** OTHER *****/

em {
	font-style: normal;
	font-weight: bold;
	color: #f90;
}

.cls {
	clear: both;
}

/***** DEVICE DEPENDENT *****/

#phoneHelp {
	display: none;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
	#phoneHelp {
		display: block;
	}
}

@media (max-height: 500px) {
	#header {
		font-size: 24px;
	}
}